body {
   
    margin: 0;
    
}
#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-color: #303030;
}

.x-container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 4rem;
    padding-left: 4rem;
}

.h1-style {
    color: #C8C8C8;
    text-align: center;
}

.nav-items {
    list-style-type: none;
    width: 100%;
    box-sizing: border-box;
    /*padding:0*/

}

.nav-items li {
    display: inline;
    padding: 9px;

}
form{
    margin-top: 1rem;
    padding: 1rem 0;
    width: 100%;
}

.nav-items li a {
    color: #C8C8C8;
}

.active-page {
    background-color: #C8C8C8;
}

.active-page a {
    color: #303030 !important;
}

#main {
    margin-top: 2px;
    background-color: #C8C8C8;
    flex: 1;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "nav" "list"
}

.side-nav {
    grid-area: nav;
    width: 100%;
    background-color: #303030;
    color: #C8C8C8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:start;
}

#my-input{
    box-sizing: border-box;
    width: 100%;
    max-width: 180px;
}

#side-filter{
    box-sizing: border-box;
    width: 100%;
    max-width: 180px;
}


.university {
    background-color: #303030;
    color: #C8C8C8;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;

}


table,
th,
td {
    border: 1px solid;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    background-color: #303030;
    /*margin-top: 1rem;*/
}
@media(max-width: 720px){
    #main {
        background-color: #C8C8C8;
        flex: 1;
        gap: 0;
        display: flex;
        flex-direction: column;
    }
    #list-container{
        grid-area: list;
        margin: 1rem;
    }
    .university a{
        display: inline-block;
        text-align: center;
        overflow: hidden;

    }
    #side-filter{
        max-width: 500px;
        margin-bottom: 1rem;
    }
    #my-input{
        max-width: 500px;
    }
    .university {
        box-sizing: border-box;
        background-color: #303030;
        color: #C8C8C8;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        align-items: normal;    
    }
    .x-container {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .nav-items li {
        display: block;
        padding: 1px;
        align-items: center;
        text-align: center;
    }
    form{
        margin-top: 1rem;
        box-sizing: border-box;
        padding: 1rem 0;
    }
    .nav-items {
        padding:0
    
    }
}